In [2]:
import numpy as np
import pandas as pd

# Source: https://catalog.data.gov/dataset/infectious-disease-cases-by-county-year-and-sex-2001-2014

"""
Source:

Creators:

Dr. William H. Wolberg, General Surgery Dept.
University of Wisconsin, Clinical Sciences Center
Madison, WI 53792
wolberg '@' eagle.surgery.wisc.edu

W. Nick Street, Computer Sciences Dept.
University of Wisconsin, 1210 West Dayton St., Madison, WI 53706
street '@' cs.wisc.edu 608-262-6619

Olvi L. Mangasarian, Computer Sciences Dept.
University of Wisconsin, 1210 West Dayton St., Madison, WI 53706
olvi '@' cs.wisc.edu

Donor: Nick Street

Source: UCI - Machine Learning Repository
"""

In [3]:
df = pd.read_csv('~/Documents/Projects/Eagle_sense_Q1_Cohort/dataset/raw/disease-dataset.csv')

In [4]:
df.sample(5)

,disease,county,year,sex,count,population,rate,ci_lower,ci_upper,unstable
59347,"Hepatitis B, Acute",Marin,2014,Female,0,131733,0.000,0.000,2.800,-
132980,"Typhoid Fever, case",Sierra,2012,Total,0,3133,0.000,0.000,117.673,-
29362,Coccidioidomycosis,Sonoma,2012,Female,1,247993,0.403,0.010,2.247,*
58809,Hepatitis A,San Diego,2014,Male,6,1617219,0.371,0.136,0.808,*
138591,Vibrio Infection (non-Cholera),San Mateo,2006,Male,8,343868,2.326,1.004,4.584,*

In [5]:
df.isnull().sum()

disease           0
county            0
year              0
sex               0
count             0
population        0
rate              0
ci_lower          0
ci_upper          0
unstable      11729
dtype: int64

In [6]:
df.disease.unique()

array(['Amebiasis', 'Anaplasmosis and Ehrlichiosis', 'Babesiosis',
       'Cholera', 'Botulism, Other', 'Botulism, Foodborne',
       'Botulism, Wound', 'Brucellosis', 'Campylobacteriosis',
       'Chlamydia', 'Ciguatera Fish Poisoning', 'Dengue',
       'Coccidioidomycosis',
       'Creutzfeldt-Jakob Disease and other Transmissible Spongiform Encephalopathies',
       'Cryptosporidiosis', 'Cyclosporiasis',
       'Cysticercosis or Taeniasis', 'E. coli O157', 'Diphtheria', 'HIV',
       'Early Syphilis', 'Gonorrhea', 'E. coli Other STEC (non-O157)',
       'Giardiasis', 'Hantavirus Infection', 'Hepatitis B, Acute',
       'Hepatitis E, acute infection', 'Hemolytic Uremic Syndrome',
       'Hepatitis A', 'Scombroid Fish Poisoning', 'Hepatitis C, Acute',
       'Invasive Meningococcal Disease', 'Leprosy', 'Measles',
       'Leptospirosis', 'Influenza Death (<65 years of age)',
       'Legionellosis', 'Malaria', 'Lyme Disease', 'Listeriosis',
       'Pertussis', 'Paralytic Shellfish Poisoning', 'Psittacosis',
       'Rabies, human', 'Mumps', 'Q Fever', 'Relapsing Fever',
       'Plague, human', 'Rubella', 'Salmonellosis', 'Tetanus',
       'Shiga Toxin Positive Feces (without culture confirmation)',
       'Shigellosis', 'Spotted Fever Rickettsiosis',
       'Staphylococcus aureus Infection (cases resulting in death or ICU)',
       'Streptococcal Infection (cases in food and dairy workers)',
       'Tuberculosis', 'Toxic Shock Syndrome (Non-Streptococcal)',
       'Vibrio Infection (non-Cholera)', 'Trichinosis', 'Tularemia',
       'Typhoid Fever, case', 'Varicella Hospitalizations',
       'Typhus Fever', 'Yersiniosis'], dtype=object)

In [7]:
df.county.unique()

array(['California', 'Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras',
       'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno',
       'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake',
       'Lassen', 'Los Angeles', 'Madera', 'Modoc', 'Marin', 'Mariposa',
       'Mendocino', 'Merced', 'Mono', 'Monterey', 'Napa', 'Nevada',
       'Orange', 'Placer', 'Plumas', 'Riverside', 'Sacramento',
       'San Benito', 'San Bernardino', 'San Diego', 'San Francisco',
       'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara',
       'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou',
       'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Trinity',
       'Tulare', 'Tuolumne', 'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [8]:
df.sex.unique()

array(['Total', 'Female', 'Male'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141777 entries, 0 to 141776
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   disease     141777 non-null  object
 1   county      141777 non-null  object
 2   year        141777 non-null  int64
 3   sex         141777 non-null  object
 4   count       141777 non-null  int64
 5   population  141777 non-null  int64
 6   rate        141777 non-null  float64
 7   ci_lower    141777 non-null  float64
 8   ci_upper    141777 non-null  float64
 9   unstable    130048 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 10.8+ MB